:root { 
  --header-light: #E5E9EC;
  --icon-light: #eaeaea;
  --icon-dark:  #000;
  --light-job-color: #adb5bd;
  --border-dark: #000;
  --btn-light: #EAF2EF
  --bg-light: #fff; 
  --icon-hover-lightmode: #faa307;
}