@import "utilities";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  margin-bottom: 3em;
  background-color: var(--header-light);
  width: 100%;
  padding: 20px;
  h1 {
    text-align: center;
  }
  svg {
    fill: var(--icon-light);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    &:hover {
      fill: var(--icon-green);
      cursor: pointer;
    }
  }
}


.job {
  background-color: var(--light-job-color);
  border-radius: 10px;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  width: 450px;
  padding: 0.5em;
  margin: 1em 0 0 1em 0;

  border: 1px solid var(--border-light);
  text-align: center;
  display: flex;
  margin: 0 0 2em 0;
  flex-direction: column;
  img {
    object-fit: cover;
    width: 100px;
    border-radius: 30%;
    justify-content: right;
  }
}

.card {
  padding: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 1em 0 0 1em 0;

  ul {
    list-style-type: none;
    text-align: center;
    line-height: 1.6;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  h2 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  p {
    word-wrap: wrap;
    font-size: 15px;
    line-height: 1.6;
  }
}

.form-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  width: 50%;
  input {
    display: block;
    padding: 15px;
    outline: 0;
    border-radius: 7px;
    margin-bottom: 15px;
    width: 50%;
  }
}

.submit-btn { 
  background-color: var(--btn-light);
  font-weight: 700; 
  font-size: 14px;
}

.submit-btn:active { 
  transform: scale(0.95);
}

.grid-wrapper { 
  width: 500px;
  height: 500x;

}